.antialiased.bg-green-400.shadow-md
  .flex.justify-between.leading-10
    = image_tag  "logo_transparent.png", width: '8%', height: '8%', class: 'ml-5'
    = link_to  (t 'defaults.logout'), logout_path, method: :delete, class: 'no-underline text-white font-bold mr-7 mt-7'