.flex.justify-between.leading-10.bg-purple-100.shadow-md
  = image_tag  "logo_transparent.png", width: '6%', height: '6%', class: 'ml-5'
  = link_to  (t 'defaults.logout'), destroy_user_session_path, method: :delete, class: 'no-underline text-gray-600 font-bold mr-7 mt-5'